<nav class="navbar fixed-top navbar-light bg-light border-bottom">
  <div class="container-fluid justify-content-start">
    <button [routerLink]="['/']" class="btn me-3">
      <img src="/assets/icons/arrow_back.svg" alt="">
    </button>

    @if (song && artist) {
      <span class="navbar-brand">{{ song.title }} ({{ artist.name }})</span>
    }
  </div>
</nav>

@if (song && artist) {
  <div class="container-fluid" style="margin-top: 80px;">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <h5>{{ song.title }} ({{ artist.name }})</h5>

        <div class="img-container mb-3">
          <img [ngSrc]="song.poster" class="card-img" alt="" fill priority />
        </div>

        <h6>
          @for (genre of song.genre; track genre) {
            # {{ genre }}
          }
        </h6>

        <p class="text-muted">Género</p>

        <p>
          @for (genre of song.genre; track genre) {
            <span class="badge rounded-pill text-bg-secondary me-3">
              {{ genre }}
            </span>
          }
        </p>

        <p>Compañía discográfica</p>
        <p class="badge rounded-pill text-bg-secondary">{{ company?.name ?? 'N/A' }}</p>

        <p>País</p>
        <p class="border-bottom">{{ company?.country ?? 'N/A' }}</p>


        <p>Año</p>
        <p class="border-bottom">{{ song.year }}</p>

        <p>Puntuación</p>
        <p class="border-bottom">{{ song.rating }}</p>
      </div>
    </div>

    <div class="position-fixed bottom-0 end-0 mb-3 me-3">
      <div>
        <button class="btn btn-light rounded-circle border border-2 p-2 me-2">
          <img src="/assets/icons/edit.svg" alt="">
        </button>

        <button class="btn btn-light rounded-circle border border-2 p-2">
          <img src="/assets/icons/delete.svg" alt="">
        </button>
      </div>
    </div>
  </div>
}

@if (loading) {
  <div class="d-flex justify-content-center mt-5">
    <div class="spinner-border mt-5" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
}

@if (error) {
  <div class="container-fluid" style="margin-top: 80px;">
    <p>Ocurrió un error :(</p>
  </div>
}
