<button [routerLink]="['/']">volver</button>

@if (song && artist) {
  <p>{{ song.title }} ({{ artist.name }})</p>

  <p>
    @for (genre of song.genre; track genre) {
      # {{ genre }}
    }
  </p>

  <p>Género:</p>

  @for (genre of song.genre; track genre) {
    {{ genre }}
  }

  <p>Compañía discográfica</p>
  <p>compañia</p>


  <p>Año</p>
  <p>{{ song.year }}</p>

  <button [routerLink]="['/songs/edit', song.id]">Editar</button>
  <button (click)="removeSong()">Eliminar</button>
}

@if (loading) {
  <p>Cargando...</p>
}

@if (error) {
  <p>Ocurrió un error</p>
}
