<nav class="navbar fixed-top navbar-light bg-light border-bottom">
  <div class="container-fluid justify-content-start">
    <button [routerLink]="['/']" class="btn me-3">
      <img src="/assets/icons/arrow_back.svg" alt="">
    </button>

    <span class="navbar-brand">Nueva canción</span>
  </div>
</nav>

<div class="container-fluid" style="margin-top: 80px;">
  <div class="row justify-content-center">
    <form class="col-md-4">
      <div class="mb-3">
        <label for="title" class="form-label">Título</label>
        <input id="title" class="form-control" placeholder="Indique el título de la canción" />
      </div>

      <div class="mb-3">
        <label for="artist" class="form-label">Artistas</label>
        <input id="artist" class="form-control" placeholder="Indique el o los artistas" />
      </div>

      <div class="mb-3">
        <label for="genre" class="form-label">Género</label>
        <input id="genre" class="form-control" placeholder="Añade un género" />
      </div>

      <div class="mb-3">
        <label for="companies" class="form-label">Compañía discográfica</label>
        <input id="companies" class="form-control" placeholder="Añade una compañía" />
      </div>

      <div class="mb-3">
        <label for="country" class="form-label">País</label>
        <input id="country" class="form-control" placeholder="Indique la nacionalidad de la canción" />
      </div>

      <div class="mb-3">
        <label for="year" class="form-label">Año</label>
        <input id="year" class="form-control" placeholder="Indique el año" />
      </div>

      <div class="mb-3">
        <label for="rating" class="form-label">Puntuación</label>
        <input id="rating" class="form-control" placeholder="Indique la puntuación" />
      </div>
    </form>
  </div>
</div>
