<button [routerLink]="['/']">volver</button>

<p>Nueva canción</p>

<form>
  <label for="title">Título</label>
  <br />
  <input id="title" placeholder="Indique el título de la canción" />
  <br />

  <label for="artist">Artistas</label>
  <br />
  <input id="artist" placeholder="Indique el o los artistas" />
  <br />

  <label for="genre">Género</label>
  <br />
  <input id="genre" placeholder="Añade un género" />
  <br />

  <label for="companies">Compañía discográfica</label>
  <br />
  <input id="companies" placeholder="Añade una compañía" />
  <br />

  <label for="country">País</label>
  <br />
  <input id="country" placeholder="Indique la nacionalidad de la canción" />
  <br />

  <label for="year">Año</label>
  <br />
  <input id="year" placeholder="Indique el año" />
  <br />

  <label for="year">Puntuación</label>
  <br />
  <input id="year" placeholder="Indique la puntuación" />
  <br />
</form>
