<p>Canciones</p>

<div class="container-fluid">
  <div class="row">
    @for (song of songs; track song.id) {
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card">
          <div [routerLink]="['/songs/', song.id]" class="card-body">
            <h5 class="card-title">{{ song.title }}</h5>

            <h5 class="card-subtitle mb-2 text-muted">
              {{ getArtist(song.artist).name }}
            </h5>

            <div class="img-container">
              <img [ngSrc]="song.poster" class="card-img" alt="" fill />
            </div>

            <p class="card-text">
              @for (genre of song.genre; track genre) {
                <span class="me-3"># {{ genre }}</span>
              }
            </p>
          </div>
        </div>
      </div>
    }
  </div>

  <span class="fixed-bottom-right m-3">
    <button class="btn btn-outline-secondary rounded-circle p-2" [routerLink]="['/songs/add']">
      <img src="/assets/icons/add.svg" alt="">
    </button>
  </span>
</div>

@if (loading) {
  <p>Cargando...</p>
}

@if (error) {
  <p>Ocurrió un error</p>
}
