<p>Canciones</p>

<nav class="navbar fixed-top navbar-light bg-light border-bottom">
  <div class="container-fluid justify-content-start">
    <button class="btn me-3">
      <img src="/assets/icons/menu.svg" alt="">
    </button>

    <span class="navbar-brand">Canciones</span>
  </div>
</nav>

<div class="container-fluid mt-5">
  <div class="row">
    @for (song of songs; track song.id) {
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card mb-3 cursor-pointer">
          <div [routerLink]="['/songs/', song.id]" class="card-body">
            <h5 class="card-title">{{ song.title }}</h5>

            <h5 class="card-subtitle mb-2 text-muted">
              {{ getArtist(song.artist).name }}
            </h5>

            <div class="img-container">
              <img [ngSrc]="song.poster" class="card-img" alt="" fill priority />
            </div>

            <p class="card-text">
              @for (genre of song.genre; track genre) {
                <span class="me-3"># {{ genre }}</span>
              }
            </p>
          </div>
        </div>
      </div>
    }

    @if (loading) {
      @for (placeholder of placeholders; track placeholder) {
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title placeholder-glow">
                <span class="placeholder col-6"></span>
              </h5>

              <h5 class="card-subtitle mb-2 placeholder-glow">
                <span class="placeholder col-5"></span>
              </h5>

              <img
                src="/assets/img/placeholder_400_600.png"
                class="card-img-top"
                alt="..."
                width="100%"
                height="300"
              />

              <p class="card-text placeholder-glow">
                <span class="placeholder col-2 me-1"></span>
                <span class="placeholder col-2 me-1"></span>
                <span class="placeholder col-2"></span>
              </p>
            </div>
          </div>
        </div>
      }
    }
  </div>

  <div class="position-fixed bottom-0 end-0 mb-3 me-3">
    <button
      class="btn btn-light rounded-circle border border-2 p-2"
      [routerLink]="['/songs/add']"
    >
      <img src="/assets/icons/add.svg" alt="" />
    </button>
  </div>

  @if (error) {
    <p>Ocurrió un error :(</p>
  }
</div>
